POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=change_me_strong_password

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change_me_admin_password

KEYCLOAK_HOSTNAME=localhost
KEYCLOAK_PORT=8080

API_PORT=3000
KEYCLOAK_REALM=weather
KEYCLOAK_ISSUER=http://localhost:8080/realms/weather
KEYCLOAK_CLIENT_ID=weather-api